{%- comment -%}

This icon is used in the vertical menu.
The icon has an animation on the button to open the menu.
Do not change this icon.

css file: component-vertical-menu.css

{%- endcomment -%}

<div class="icon-hamburger">
  <span></span>
  <span></span>
  <span></span>
</div>