.js .slider-desktop--hide-items{
  opacity:0;
}
.slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.slider::-webkit-scrollbar {
  display: none;
}
.slider__slide {
  scroll-snap-align: start;
}
.no-js .slider {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}
.no-js .slider::-webkit-scrollbar {
  display: initial;
}
.slider__buttons__container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -23px;
  margin-left: -12px;
  margin-right: -11px;
}
.justify-content-center.slider__buttons__container{
  margin-left: auto;
  margin-right: auto;
}
.slider__button{
  cursor: pointer;
  position: relative;
  padding: 0;
  width: 12px;
  height: 12px;
  margin-top: 23px;
  margin-left: 12px;
  margin-right: 11px;
  border-radius: 50%;
  background: var(--color-base);
  opacity: 0.3;
  transition: opacity var(--duration-medium) var(--animation-bezier);
}
.slider__button--current{
  opacity: 1;
}
.slider__button:before{
  content:"";
  position: absolute;
  top:-8px;
  left:-8px;
  width: 28px;
  height: 28px;
  background: transparent;
}
.slider__buttons{
  display: none;
}
@media (min-width: 577px){
  .featured-collection-items{
    position: relative;
  }
  .featured-collection-items a, .featured-collection-items img{
    user-select: none;
    -webkit-user-drag: none;
  }
  .slider-desktop{
    flex-wrap: nowrap;
    position: relative;
    transition: transform 500ms ease-in;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    background:transparent;
  }
  .slider-desktop .product-card .btn_zoom:before{
    z-index:-1;
  }
  .slider-desktop-no-animations{
    transition: none!important;
  }
  .slider-desktop.slider-desktop--scroll-one{
    transition: transform 300ms ease;
  }
  [class*="slider-desktop__buttons_"]{
    position:absolute;
    left:10px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity var(--duration-short) var(--zoom-animation-bezier);
    z-index:1;
  }
  [class*="slider-desktop__buttons_"]>.btn{
    padding: 10px;
    height: auto;
    --radius-button:100%;
  }
  .slider-desktop__buttons__next{
    left:unset;
    right:10px;
  }
  .slider-desktop__buttons__hide{
    opacity:0;
    pointer-events:none;
  }
  .slider-desktop__mask .slider__overflow-hidden--phone {
    overflow: hidden;
    padding: min(calc(var(--page-padding) - 2px), 18px);
    margin: max(calc(var(--page-padding) * -1 + 2px), -18px);
  }
  .slider-desktop.justify-content-center--no-phone {
    justify-content: unset!important;
  }
  .slider-desktop.justify-content-center-js{
    justify-content: center!important;
  }
}
@media (min-width: 577px) and (max-width:1024px){
  .slider-desktop__mask{
    overflow: hidden;
  }
}
@media (min-width: 1025px){
  [class*="slider-desktop__buttons_"]>.btn:hover:before{
    background: var(--color-base);
  }
  [class*="slider-desktop__buttons_"]>.btn:hover svg path{
    fill: var(--auto-text-color--with-base-color);
  }
}
@media (max-width: 576px){
   [class*="slider-desktop__buttons_"]{
     display:none;
   }
  .slider-mobile-product .slider.slider--phone{
    display: flex;
    flex-wrap: nowrap;
  }
  .slider__overflow-hidden--phone{
    overflow:hidden;
  }
  .slider__buttons.slider--phone{
    display: flex;
  }
  .slider.slider--phone {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
}