.announcement-text-2{
--font-size: calc(30px * var(--font-heading-scale));
}
.announcement-text-3{
  --font-size: calc(24px * var(--font-heading-scale));
}
.announcement-text-4{
  --font-size: calc(20px * var(--font-heading-scale));
}
.announcement-text-5{
  --font-size: calc(16px * var(--font-heading-scale));
}  
.announcement-bar-container{
  display: block;
  position: relative;
  overflow: hidden;
  min-height: auto;
  font-size: var(--font-size);
  border-radius: 0;
}
.announcement-bar{
  opacity: 1;
  color: var(--color-announcement-bar-text);
  background: var(--color-announcement-bar);
  min-height: auto;
  padding: 0;
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.announcement-bar .announcement-bar__item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.announcement-bar .announcement-bar__item p{
  margin: 0;
  padding: 5px 10px;
  font-size: 0.72rem;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.announcement-bar .btn-small{
  display: inline-flex;
  align-items: center;
  font-size: 0.72rem;
  line-height: 1.2;
  margin-left: 8px;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-button-weight);
}
@media(max-width: 1024px){
  .announcement-bar .announcement-bar__item p,
  .announcement-bar .btn-small{
    font-size: 0.68rem;
  }
}
.announcement-bar .btn-small:before{
  top: calc(100% - 2px);
}
html.js .announcement-bar__slider .announcement-bar:not(.announcement-bar--biggest){
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: transform var(--duration-large) var(--animation-bezier), opacity var(--duration-large) var(--animation-bezier);
  z-index: 0;
}
html.js .announcement-bar__slider .announcement-bar-js.active{
  opacity: 1;
  transform: translateX(0);
  z-index: 1;
}
html.js .announcement-bar__slider .announcement-bar-js.active.active-show{
  opacity: 1;
  transform: translateX(0);
}
html.js .announcement-bar__slider .announcement-bar-js:not(.active){
  opacity: 0;
  transform: translateX(-100%);
}
html.js .announcement-bar__slider .announcement-bar--biggest {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
html.no-js .announcement-bar__slider .announcement-bar--biggest {
  display: none;
}
[class*="page-"].announcement--page-width{
  padding: 0 20px;
}